<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561928983426-o81paf42e8p36cg7jtqmi30r13bt6t37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561928983426-o81paf42e8p36cg7jtqmi30r13bt6t37</string>
	<key>API_KEY</key>
	<string>AIzaSyBo3z8U1NLwZha-c438yl3rjGKv74XbT44</string>
	<key>GCM_SENDER_ID</key>
	<string>561928983426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.XF.Push.Apple</string>
	<key>PROJECT_ID</key>
	<string>xf-push-test</string>
	<key>STORAGE_BUCKET</key>
	<string>xf-push-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561928983426:ios:17f9a2aaebefc6276c759b</string>
	<key>DATABASE_URL</key>
	<string>https://xf-push-test.firebaseio.com</string>
</dict>
</plist>